<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dawit.android.ad340">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ZombieLayout"
            android:parentActivityName=".Main" />
        <activity
            android:name=".MovieList"
            android:parentActivityName=".Main" />
        <activity
            android:name=".FullInfo"
            android:parentActivityName=".MovieList" />
        <activity android:name=".Main">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:parentActivityName=".Main" />
        <activity
            android:name=".Info"
            android:parentActivityName=".Main" />
        <activity
            android:name=".About"
            android:parentActivityName=".Main" />
        <activity android:name=".CameraLocations"
            android:parentActivityName=".Main">
        </activity>
        <activity android:name=".LocationActivity"
                  android:parentActivityName=".Main">
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCAffwjSIO0wsM-gV5MOOC9oqHF0fBXnpc"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>